<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      ionic-angular-tasks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item *ngFor="let task of tasks | async">
      <ion-label text-wrap>
        {{task.description}}
      </ion-label>
    </ion-item>
  </ion-list>
      
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addTask()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
